





/*website name for screenreaders*/
h1 {
 position: absolute !important;
 height: 1px; width: 1px; 
 overflow: hidden;
 clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
 clip: rect(1px, 1px, 1px, 1px);
 -webkit-clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
         clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}














/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


@media screen and (min-width: 600px) {








}










/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Desktop*/
@media screen and (min-width: 1240px) {






}