footer {
	height: 100px;
	width: 100%;
  	text-align: center;
  	@include tablet {
  		
  	}
  	@include tablet {
  		text-align: left;
  	}

	p {
		color: #c2c2c2;
		padding: 3%;
		span {
			text-transform: uppercase;
		}
	}
}