#loading {
	width: 100%;
	display: flex;
  	justify-content: center;

	 img {
		width: 100px;
		height: 100px;
	}
}

.topStories {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	align-items: center;
	

	li{
		max-width: 100%;
		flex: 1 1 100%;
		position: relative;

		@include tablet {
		max-width: 50%;
		flex: 1 1 50%;	
		}

		@include desktop {
		max-width: 25%;
		flex: 1 1 25%;
		}
	}
}



.article_background{
	height: 400px;
	width: 100%;
	background-size: cover;        
    background-position: 50%;                      
}

.article_abstract {
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	line-height: 1.5;
	color: white;
	position: absolute;
  	bottom: 0;
}

