header {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;


  	@include tablet {
  		justify-content: flex-start;
  		flex-direction: row;
  		width: auto;
  		align-items: flex-start;
  	}

  	@include desktop {
  		
  	}
}

.logo {
	align-self: center;
	max-width: 100%;
	flex: 1 1 100%;
	margin-top: 10%;

	img {
		width: 100%;
		height: auto;
	}

		@include tablet {
			flex: 1 1 25%;
			margin-top: 1%;
			max-width: 25%;
			img {
				width: 40%;
			}
		}

	
}

.choose-section {
	max-width: 100%;
	flex: 1 1 100%;
	flex-direction: column;
	align-items: center;

	@include tablet {
			max-width: auto;
			flex: 2 2 auto;
		}

	p {
		text-align: center;
		width: 150px;
		padding: 3% 0;
		@include tablet {
			text-align: left;
		}
	}

	.select{
		width: 150px;
	}
	
}