@import 'reset';

h1 {
 position: absolute !important;
 height: 1px; width: 1px; 
 overflow: hidden;
 clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
 clip: rect(1px, 1px, 1px, 1px);
 -webkit-clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
         clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

body {
	background-color: black;
	font-family: Open Sans Light;
	height: auto;
	width: 100%;
}

p {
	font-size: 16px;
	color: #c2c2c2;
}

.frontpage {
	margin-top: 30%;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
  	margin: 10%;
  	
}
.logo {
	flex: 1% 0 100%;
}

.logo img {
	width: 100%;
}

.selection {
	display: flex;
  	flex-direction: column;
  	width: 200px;
  	text-align: center;
}

.selection p {
	margin: 3% 0 3% 0;
}

.topStories {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	li{
		width: 100%;
	}
}
.article_background{
	height: 400px;
}

